<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de la bibliothèque</title>
  </head>
  <body>
    <h1>Bienvenue sur la page d'accueil</h1>
    <ul>
      <p>Nombre d'auteurs : <%= numAuthors %></p>
      <p>Nombre de livres : <%= numBooks %></p>
      <li><a href="/authors">Voir la liste des auteurs</a></li>
      <li><a href="/books">Voir la liste des Livres</a></li>
    </ul>
  </body>
</html>
